<!DOCTYPE html>
<html lang="en">
<style>
  div {
    width: 100%;

  }

  div.left {
    width: 70%;
    float: left;


  }

  div.right {
    width: 30%;
    float: right;


  }
</style>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <script>
    function addRow() {
      // table element 찾기
      const table = document.getElementById('fruits');

      // 새 행(Row) 추가 (테이블 중간에)
      const newRow = table.insertRow(1);

      // 새 행(Row)에 Cell 추가
      const newCell1 = newRow.insertCell(0);
      const newCell2 = newRow.insertCell(1);

      // Cell에 텍스트 추가
      newCell1.innerText = '새 과일';
      newCell2.innerText = 'New Fruit';
    }
    function removeCheck() {

      if (confirm("로그아웃 하시겠습니까?") == true) {    //확인

        document.removefrm.submit();

      } else {   //취소

        return false;

      }

    }

  </script>
  <script>
    function submit1(frm) {
      frm.action = "/main/buy/";
      frm.submit();
      return true;
    }
    function submit2(frm) {
      frm.action = "/main/sell/";
      frm.submit();
      return true;
    }
    function submit3(frm) {
      frm.action = "/main/auto/";
      frm.submit();
      return true;
    }
    function submit4(frm) {
      frm.action = "/main/current/";
      frm.submit();
      return true;
    }
    function submit5(frm) {
      frm.action = "/main/dl/";
      frm.submit();
      return true;
    } 
    function submit6(frm) {
      frm.action = "/main/fix/";
      frm.submit();
      return true;
    } 
  </script>
  <div>
    <div class="right">
      <form id="logout" action="/main/logout/" method="post">{% csrf_token %}
        <input type="submit" value="로그아웃" style="margin-left: 175px;" onclick="removeCheck()">
      </form>
      </br>
      <form id="testform" method="post" action="main/set/">{% csrf_token %}
        <!-- <form id="testform" action="/main/buy/" method="post">{% csrf_token %}
        <input type="submit" value="매수">
      </form> -->
        <input type="submit" value="매수" onClick='return submit1(this.form);'>
        <input type="submit" value="매도" onClick='return submit2(this.form);'>
        <input type="submit" value="자동매매" onClick='return submit3(this.form);'>
        <input type="submit" value="정정/취소" onClick='return submit6(this.form);'>

        <!-- <form id="testform" action="/main/sell/" method="post">{% csrf_token %}
        <input type="submit" value="매도">
      </form> -->
        <!-- <form id="testform" action="" method="post">{% csrf_token %}
        <input type="submit" value="정정/취소">
      </form> -->

        </br>종목 : <input name='stockcode2' type="text" style="width:190px;">
        </br>수량/퍼센트 : <input name='stockvalue' type="number" step="0.01" style="width:135px;">
      </form>
      <form id="testform" method="post" action="main/set/">{% csrf_token %}

        
        <input type="submit" value="DL추천" onClick='return submit5(this.form);'>
        <input type="submit" value="계좌정보" onClick='return submit4(this.form);'>
      </br>{{hi}} {{hi1}}
      </br>{{money}} {{money1}}
      </br>{{profit}} {{profit1}}
      </br>{{event}} {{event1}}
      </br>{{name}} {{acc}}

      </form>
    </div>
    <div>
      <div class="left">

      </div>
</body>

</html>