<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script type="text/javascript">
        var i = 0;
        var data = "{{hi}}";
        var data1 = [ { Date: 1621339200000, Open: 488.4, High: 493.48, Low: 486.19, Close: 486.28, Volume: 2350500 }];
        // var data = "[ { 'Date': 162, 'Open': 488.4 }]";
        var arr = [];
        var arr2 = [];
        arr[0] = ""; arr[1] = ""; arr[2] = ""; arr[3] = ""; arr[4] = ""; arr[5] = "";
        var j = 0;
        while (data[i] != "]") {
            if (data[i] == ":") {
                i++;
                while (data[i] != ",") {
                    i++
                    arr[j] = arr[j] + data[i];

                    if (data[i + 1] == "}") { break; }
                    if (data[i + 1] == ",") { break; }
                }
                j++;
            }
            i++;
        }
        var k = 0;
        
        var testdata = [ { Date: 1621339200000, Open: 488.4, High: 493.48, Low: 486.19, Close: 486.28, Volume: 2350500 }];
        arr = JSON.parse(JSON.stringify(arr))
        document.write(arr);
        document.write(typeof(arr));
        //document.write(typeof(JSON.parse(JSON.stringify(arr))));
        //document.write(typeof(JSON.parse(JSON.stringify(data))));
        //document.write(JSON.parse(JSON.stringify(arr)));
        
       


        //document.write(arr);

    </script>
</body>

</html>