<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script type="text/javascript">
        var data = "{{hi}}";
        
        document.write(data);
        console.log(data);
        document.write(typeof(data));
        let test = JSON.parse(data);
        document.write(test);
        var data1 = [
            { 'Date': 1617192000000, 'Open': 515.67, 'High': 528.13, 'Low': 515.44, 'Close': 521.66, 'Volume': 3503100 }

        ];

    </script>
</body>

</html>